h1 {
    color: purple;
    text-align: center;
    font-size: 42px;
}

.commit {
    color: aquamarine;
    text-align: end;
    font-size: 20px;
}

.push {
    color: brown;
    text-align: start;
    font-size: 20px;
}